
/* Main */

body {
  padding-bottom: 2rem;
  text-align: center;
}
.fulltitle {
  padding: 1rem 1.5rem;
}
.content {
  opacity: 0;
}
.subtitle {
  opacity: 0;
}
.fade {
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.card-title {
  font-size: 2rem;
  font-weight: 300;
}
.card-col {
  padding-bottom: 15px;
}
.btn-secondary {
  margin-bottom: 5px;
}
.profile {
  height: 160px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50%;
}
.subheading {
  font-size: 2rem;
  font-weight: 350;
}
.non-existant {
  display: none;
}


/* Typed.js */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
