
/* Main */

body {
  padding-bottom: 2rem;
  text-align: center;
  color: white;
  background-color: transparent;
}
html {
  background:
    linear-gradient(
      to top left,
      #FF14C5, #D30CFF, #8B14FF
    ) fixed;
  background-repeat: no-repeat;
}
html, body {
    margin: 0;
    height: 100%;
}
.fulltitle {
  padding: 1rem 1.5rem;
}
.content {
  opacity: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.subtitle {
  opacity: 0;
}
.fade {
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.card-title {
  font-size: 2rem;
  font-weight: 300;
}
.card-col {
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}
.btn-secondary {
  margin-bottom: 5px;
}
.profile {
  height: 160px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 50%;
}
.subheading {
  font-size: 2rem;
  font-weight: 350;
}
.non-existant {
  display: none;
}
.card {
  align-items: stretch;
  background-color: transparent;
  border: 3px solid white;
}
.card-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-buttons {
  justify-content: flex-start;
}
.btn {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
a, a:active, a:visited {
    color: white;
}
a:hover {
    color: grey;
}
.title-link {
    text-decoration: underline;
}


/* Typed.js */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
