<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.js" integrity="sha256-ZTMFCvouhTVozUsLgEjtZOlJY+OAiLImV1p8yoBU9OI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@1.1.7/dist/typed.min.js" integrity="sha256-1QZFmv2ZVCPTpghr2dM2V06KSXpdPx2kE/hcfzIk6Cs=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js" integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
